{% extends "base.html" %}

{% block body %}


    <form action="/" method="post">

        <fieldset>
            <legend></legend>


            <div class="row">
                <div class="large-12 columns">
                    <label>Partner API URL
                        <select name="url" placeholder="Meerkat API URL root">
                            <option value="https://beta-sandbox.doshii.co/partner/v3">https://beta-sandbox.doshii.co/partner/v3/</option>
                            <option value="https://sandbox.doshii.co/partner/v3">https://sandbox.doshii.co/partner/v3/</option>
                            <option value="http://localhost:3000/partner/v3">http://localhost:3000/partner/v3/</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="columns">
                    <label>Client Id
                        <input type="text" placeholder="client id" name="clientId" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="columns">
                    <label>Client Secret
                        <input type="text" placeholder="client secret" name="clientSecret" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <button class="button tiny postfix" type="submit">Go</button>
                </div>
            </div>
        </fieldset>
    </form>


{% endblock%}
