{% extends "base.html" %}

{% block javascript %}
  <script src="{{primusUrl}}"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-flash/dist/angular-flash.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="vendor/angular-primus/angular-primus.js"></script>
  <script src="vendor/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="vendor/angular-ui-select2/src/select2.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bignumber.js/2.0.0/bignumber.min.js"></script>
  <script src="vendor/angular-wizard/dist/angular-wizard.js"></script>
  <script src="vendor/angular-tiny-eventemitter/dist/angular-tiny-eventemitter.min.js"></script>

{% endblock %}

{% block body %}

  <script>
    window.clientId = "{{clientId}}";
    window.clientSecret = "{{clientSecret}}";
    window.primusUrl = "{{primusUrl}}";
    window.websocketUrl = "{{websocketUrl}}";
  </script>

  <div ui-view></div>

  <script src="js/app.js"></script>

  <script src="js/routes.js"></script>

  <script src="js/services/socket.js"></script>
  <script src="js/services/meerkat.js"></script>
  <script src="js/services/httpInterceptor.js"></script>
  <script src="js/services/doshiiEmitter.js"></script>

  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/partner.js"></script>
  <script src="js/controllers/table.js"></script>


{% endblock %}
