<div id="partial-payment-modal">

  <div class="modal-header">
    <h2>Add payments for {{order.id}}</h2>
  </div>

  <div class="modal-desc">
    Here you can add payments to the order from the POS.
  </div>

  <div class="row panel panel-default">
    <h5>Custom payment type</h5>

    <div class="row">
      <div class="small-2 large-4 columns">
        <label>Type
          <input ng-model="payment.type" placeholder="type"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-2 large-4 columns">
        <label>Amount
          <input ng-model="payment.amount" placeholder="in cents" required/>
        </label>
      </div>
    </div>

    <div class="row">
      <br>

      <div class="small-2 large-4 columns">
        <button class="button tiny success"
                ng-disabled="!(payment && payment.type && payment.amount)"
                id="btn-ok" ng-click="add(payment)">+
        </button>
      </div>
    </div>
  </div>

  <div class="presets panel panel-default">
    <h5>Cash payment</h5>
    <ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '100'})">
          1.00
        </button>
      </li>

      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '500'})">
          5.00
        </button>
      </li>

      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '1000'})">
          10.00
        </button>
      </li>

      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '2000'})">
          20.00
        </button>
      </li>

      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '5000'})">
          50.00
        </button>
      </li>


      <li>
        <button class="button tiny success" ng-click="add({type: 'cash', amount: '10000'})">
          100.00
        </button>
      </li>

      <li>
        <button class="button tiny success"
                ng-click="add({type: 'cash', amount: OrderHelper.getTotal(order, true)})">
          Order total ({{OrderHelper.getTotal(order)}})
        </button>
      </li>
    </ul>
  </div>

  <div class="panel panel-default">
    <h5>Payment summary</h5>
    <table>
      <thead>
      <th>Type</th>
      <th>Amount</th>
      <th>Remove</th>
      </thead>
      <tbody>
      <tr ng-repeat="payment in payments">
        <td>{{payment.type}}</td>
        <td>${{getInDollars(payment.amount)}}</td>
        <td>
          <i ng-click="remove(payment)" class="fa fa-eraser pointer"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <button class="button btn-confirm" id="btn-ok"
          ng-disabled="disableSaveButton()"
          ng-click="close()">
    Save
  </button>
</div>
