/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
body {
  background-color: #f3f7fc;
  font-family: "Open Sans", sans-serif;
  padding: 50px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2; }

.button.refresh {
  font-size: 22px;
  padding: 5px;
  width: 45px;
  height: 45px; }

.bold {
  font-weight: 600; }

.text-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.titlecase {
  text-transform: capitalize; }

.config-container div {
  padding-bottom: 5px; }
.config-container .select2-container {
  width: 300px; }
.config-container .location-token input {
  width: 300px;
  height: 33px;
  line-height: 16px; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

.alert-flash {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 43px;
  /* change transition property to all */
  -webkit-transition-property: all;
  transition-property: all; }

.alert-flash .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px; }

/* add warning colors to warn class */
.alert-warn {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5; }

.alert-warn,
.alert-warn h4 {
  color: #c09853; }

.alert-flash .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px; }

/* add warning colors to warn class */
.alert-warn {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5; }

.alert-warn,
.alert-warn h4 {
  color: #c09853; }

.alert-box.error {
  background-color: #f04124;
  border-color: #de2b0f;
  color: #fff; }

#partial-payment-modal li {
  padding: 0;
  margin: 0; }

.steps-indicator {
  height: 45px; }

.panel-default {
  background-color: #ffffff; }

pre {
  font-size: 85%;
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px; }

pre.line {
  font-size: 85%;
  padding: 3px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  display: inline-block; }

.inline {
  display: inline-block; }

.code-block {
  max-height: 400px;
  overflow: scroll; }

fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.reveal-modal.in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-body {
  position: relative;
  padding: 10px;
  max-height: 420px;
  overflow-y: scroll;
}

body.modal-open {
  overflow: hidden;
}

/*# sourceMappingURL=app.css.map */
