$fake-pos-font: 'Open Sans', sans-serif;

$fake-pos-font-bold: 600;
$fake-pos-font-light: 200;

$lightblue: #dde9ff;

$titleblue: #0079c1;

$appBackground: #f3f7fc;

$footerBackground: #3d3e3f;

$confirm-green: #6ac46e;
